<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ABCretail1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ABC Retail</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Product">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Order">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Delivery">Delivery</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    <footer class="text-center mt-4">
        <p>&copy; 2024 ABC Retail. All Rights Reserved.</p>
    </footer>
</body>
</html>
<!-- References Section -->
@*         <section class="mt-4">
            <h2>References</h2>
            <ul>
                <li>Blank, S.G. and Dorf, B. (2020). <i>The startup owner’s manual: The step-by-step guide for building a great company</i>. Vol. 1. Hoboken, New Jersey: John Wiley & Sons, Inc. Available at: <a href="https://www.google.co.za/books/edition/The_Startup_Owner_s_Manual/eSrfDwAAQBAJ?hl=en&gbpv=1&printsec=frontcover">https://www.google.co.za/books/edition/The_Startup_Owner_s_Manual/eSrfDwAAQBAJ?hl=en&gbpv=1&printsec=frontcover</a> [Accessed 23 Mar. 2024].</li>
                <li>Date, C.J. (1995). <i>An introduction to database systems</i>. Vol. 1. Reading, Mass. Addison-Wesley. Available at: <a href="https://lc.fie.umich.mx/~rodrigo/BD/An%20Introduction%20to%20Database%20Systems%208e%20By%20C%20J%20Date.pdf">https://lc.fie.umich.mx/~rodrigo/BD/An%20Introduction%20to%20Database%20Systems%208e%20By%20C%20J%20Date.pdf</a> [Accessed 22 Mar. 2024].</li>
                <li>Çapak, F. (2023). <i>E-Commerce Unlocked: A Step-by-Step Guide to Launching Your Online Store</i>. Fatih Çapak.</li>
                <li>Gilbert, J. (2018). <i>JavaScript cloud native development cookbook: Deliver serverless cloud-native solutions on AWS, Azure, and GCP</i>. Birmingham: Packt Publishing Ltd. Available at: <a href="https://www.google.co.za/books/edition/JavaScript_Cloud_Native_Development_Cook/79FwDwAAQBAJ?hl=en&gbpv=1&printsec=frontcover">https://www.google.co.za/books/edition/JavaScript_Cloud_Native_Development_Cook/79FwDwAAQBAJ?hl=en&gbpv=1&printsec=frontcover</a> [Accessed 25 Mar. 2024].</li>
                <li>Krug, S. (2013). <i>Don’t Make Me Think, Revisited: A Common Sense Approach to Web Usability</i>. 3rd ed. Berkeley, Calif.: New Riders. Available at: <a href="https://eng317hannah.wordpress.ncsu.edu/files/2020/01/Krug_Steve_Dont_make_me_think_revisited___a_cz-lib.org_.pdf">https://eng317hannah.wordpress.ncsu.edu/files/2020/01/Krug_Steve_Dont_make_me_think_revisited___a_cz-lib.org_.pdf</a> [Accessed 14 Mar. 2024].</li>
                <li>Management Association, Information Resources (2012). <i>Grid and Cloud Computing: Concepts, Methodologies, Tools and Applications</i>. IGI Global. Available at: <a href="https://www.google.co.za/books/edition/Grid_and_Cloud_Computing_Concepts_Method/ulKr4CXuQW4C?hl=en&gbpv=1&printsec=frontcover">https://www.google.co.za/books/edition/Grid_and_Cloud_Computing_Concepts_Method/ulKr4CXuQW4C?hl=en&gbpv=1&printsec=frontcover</a> [Accessed 22 Mar. 2024].</li>
                <li>Nielsen, J. and Loranger, H. (2006). <i>Prioritizing Web Usability</i>. Pearson Education. Available at: <a href="https://www.google.co.za/books/edition/Prioritizing_Web_Usability/YQsje6Ecl4UC?hl=en&gbpv=1&printsec=frontcover">https://www.google.co.za/books/edition/Prioritizing_Web_Usability/YQsje6Ecl4UC?hl=en&gbpv=1&printsec=frontcover</a> [Accessed 26 Mar. 2024].</li>
            </ul>
        </section *@